[submodule "Libraries/etl"]
	path = Libraries/etl
	url = https://github.com/ETLCPP/etl
[submodule "Libraries/container"]
	path = Libraries/container
	url = https://github.com/boostorg/container.git
[submodule "Libraries/--force"]
	path = Libraries/--force
	url = https://github.com/ETLCPP/etl.git
